@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img{
    vertical-align: bottom;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.wrapper{
    max-width: 940px;
    /* outline: 1px solid red; */
    margin: 60px auto 80px auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic{
    width: 50%;
}

.pic img{
    width: 100%;
}

.text{
    width: 50%;
    padding: 15px;
}

.text h2{
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 15px;
    color: #2e3a59;
}

.text p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #2e3a59;
}

.text .price{
    font-size: 46px;
    line-height: 52px;
    margin-bottom: 15px;
    color: #2e3a59;
}

.text a{
    display: inline-block;
    background-color: #f6821f;
    padding: 12px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:599px) {
    .wrapper{
        flex-direction:column;
    }
    .text h2{
        font-size: 22px;
        line-height: 28px;
        
       
    }
}